
.container {
  width: 600px;       
  margin: 20px auto;  
  font-family: Arial, sans-serif;
}


.cate-group {
  margin-bottom: 20px; 
}


table {
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 2px; 
}


table, th, td {
  border: 1px solid #999; 
}

td, th {
  padding: 5px 10px; 
  vertical-align: middle; 
}


.header-row td, thead th {
  background-color: #fff; 
  font-weight: normal;    
  text-align: left;
}


img {
  display: block;
}